{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-12">
            <div class="card shadow-sm">
                <div class="card-header bg-danger text-white d-flex justify-content-between align-items-center">
                    <h5 style="color: white; text-align: center; font-size: 24px;" class="mb-0">LISTE DES PUBLICATIONS</h5>
                    <div class="d-sm-flex align-items-center justify-content-end">
                        {% if user.role == 'admin' or user.role == 'directeur_marketing' %}
                        <a href="{% url 'publish_content' %}" class="btn btn-danger btn-sm">
                            <i class="fas fa-plus"></i> Créer une publicité
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover" id="dataTable3" width="100%">
                            <thead>
                                <tr>
                                    <th>Post ID</th>
                                    <th>Message</th>
                                    <th>Création</th>
                                    <th>Description</th>
                                    <th>Commentaires</th>
                                    <th>Likes</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in posts %}
                                <tr>
                                    <td>{{ post.id }}</td>
                                    <td>{{ post.message|default:"No Message" }}</td>
                                    <td>{{ post.created_at }}</td>
                                    <td>{{ post.description }}</td>
                                    <td>{{ post.comment_set.count }}</td>
                                    <td>{{ post.likes.count }}</td>
                                    <td>
                                        <a href="{% url 'edit_post' post.id %}" class="btn btn-warning btn-sm">
                                            <i class="fas fa-edit"></i> Modifier
                                        </a>
                                        <a href="{% url 'delete_post' post.id %}" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash"></i> Supprimer
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Toast Notification -->
<div class="toast" id="successToast" style="position: absolute; top: 20px; right: 20px;" data-delay="3000">
    <div class="toast-header">
        <strong class="mr-auto">Notification</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#dataTable3').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/French.json"
            }
        });

        // Afficher le toast si des messages sont présents
        if ($('.toast-body').text().trim() !== '') {
            $('#successToast').toast('show');
        }
    });
</script>
{% endblock %}
